*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
    color: #1a1a1a;
  }
  
  p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
  }

  form .form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    border-radius: 0.3rem;
  }

  header {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,188,252,1) 100%);
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    width:100%;
  }

#today-forecast {
    border: 2px white solid;
    width: 99vh;
    background-color:  rgb(199, 227, 254);
    margin-left:9px;

}

#five-day-forecast, #current-{

    display: flex;
    /*
    flex-direction: row;
    flex-wrap: nowrap;
    */
    width:98vh;
    justify-content: space-around;
/* why isnt this working. no space between card elements */

}

.card {
    padding: 10px;
    margin: 5px;
    width: 50%;
    border: 1px solid #1a1a1a;
    background-color: rgb(68, 146, 219);
    color:white;
    text-align: center;
    border-radius:10px;
}

#card1 {
  margin-left:0px;
}
  
 
/* Still large margin on right side making cards squished */
#forecast-info {
  /* border: 2px black solid; */
  padding: 10px;
  /* background-color: yellow; */
  width:90vh;

}


.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  .btn:hover {
    background-color: #cecece;
  }

  .btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }
  .btn.btn-info {
    background-color: #47aee1;
    color: #ffffff;
    
  }
  
  .btn.btn-info:hover {
    background-color: #0aafc8;
  }


  /* .container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
   */
.searchHistory {
    margin: 15px 0px;
   } 

   #today-forecast {
    border: 1px gray solid;
    padding: 15px;
    border-radius: 10px;
   }

   /* Makes search box flex to the left */
   .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .p-3 {
    padding: 1rem;
  }

  